*
{
    padding: 0px;
    margin: 0px;
}
header
{
    background-image: url("../resources/Banner.png");
    width: 1320px;
    height: 600px;
    margin-left: 100px;
    background-color:darkblue;
    margin-top: 50px;
}
.banner
{
    text-align: center;
    font-family: Merriweather;
    
}
.new-year-greeting
{
font-size: 40px;
color: white;
font-weight: 400;
padding: 210px 12px 10px 10px ;
margin-bottom: 0px;
}
.new-year-party
{
    font-size: 72px;
    color: rgb(211, 214, 216);
    font-weight: 900px;
    width: 500px;
    padding-left: 400px;
    margin-top: 0px;
}

.discount-class
{
    text-align: center;
    margin: 150px;
}
.off{
color: #F00;
font-family: Inter;
font-size: 70px;
font-weight: 700;
}
.our-holiday
{
color: #F00;
font-family: Inter;
font-size: 18px;
font-weight: 400;
}
.all-products
{
color: #070211;
font-size: 35px;
font-family: Inter;
font-weight: 700;
margin-top: 8px;
}
.midnight
{
    display: flex;
    color: white;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 100px;
}
.midnight-title
{
font-family: Merriweather;
font-size: 70px;
font-weight: 900;
padding-top: 50px;
padding-left: 200px;
}
.midnight-description
{
    padding-left: 200px;
    margin-top: 0px;
    font-family: Inter;
    font-size: 18px;

}
.mid-join
{
    margin-left: 300px;
    margin-top: 20px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 1px;
    background: none;
    color: white;
}
.mid-image
{
    margin-left: 100px;
    margin-top: 50px;
}

.vector
{
    width:1305px;
    height: 442px;
    background-color: #dfc3c3;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.vector-contai
{
    text-align: center;
    padding: 100PX 385PX 150PX 385PX;
    color: #070211;
   font-family: Inter;
   font-size: 30px;
   font-weight: 600;
}
.vector-title
{
    margin-bottom: 20PX;
    margin-top: 10px;
}
.vec-span
{
    color: #F00;
}
.vec-but
{
border-radius: 8px;
background: #F00;
color: white;
border: 5px;
padding: 20px;
}

.offer
{
    display: flex;
    width:1305px;
    height: 442px;
    background-color: #efe4e4;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.offer-image{
 margin-top: 50px;
 margin-left: 100px;
   
}
.off-img1
{
    border-radius:50%;
    border: 5px solid tomato;
    padding: 10px;
}
.offer-container
{
    max-width: 550px;
}
.offer-t
{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-top: 50px;
margin-bottom:5px;
margin-top: 1px;
}
.offer-t2
{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom:5px;
margin-top: 1px;
}
.offer-descrip
{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom:5px;
margin-top: 1px;
}
.offer-sal
{
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 0px;

}
.sal-t
{
 color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.sal-decrip
{
 color: black;
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.holiday
{
    width:1305px;
    height: 600px;
    display:block;
    background-color: bisque;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.holiday-container
{
    text-align: center;
    padding-top: 20px;
}
.holiday-t{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 10px;
}
.holiday-t1
{
color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday-span
{
color: black;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday-description
{
color: black;
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 1.7;
}
.imagt
{
    width: 1306px;
    height: 80px;
    padding-top: 105px;

}
.imagt1
{
    width: 500px;
    height: 300px;
}

.portfolio
{
    width: 1306px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.portfolio-t
{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-bottom: 20px;
}
.portfolio-t1
{
color: #070211;
font-family: Merriweather;
font-size: 48px;;
font-weight: 700;
}
.portfolio-description
{
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.table-first
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.cell1
{
    padding: 10px;
}
.cell1:hover
{
 border: 2px solid blue;
}
.subscribe
{
    width: 1306px;
    height: 480px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(244, 234, 235);
}
.subs-title
{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.subscribe-content
{
    padding-top: 50px;
}
.subs-description
{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;

font-weight: 400;
}
.email-box
{
    padding-top: 50px;
}
#mail
{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    padding-right: 0px;
}
#sub-but
{
  width: 150px;
  height: 40px;
  background-color: #F00;
  border: 2px solid blue;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding-left: 0px;
}
footer
{
    max-width: 1306px;
    height: 500px;
    background-color: #070211;
    margin-left: 100px;
    margin-top: 100px;
    color: aliceblue;
    font-family: Inter;
    font-size: 24px;
    display: flex;
}
a:hover
{
    background-color: whitesmoke;
    border: 2px solid tomato;
}
.foot-r-upper
{
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.foot-imag
{
    padding-left: 550px;
    padding-top: 50px;
}
hr
{
    background-color: blue;
}
#foot-lower
{
    padding-left: 100px;
    padding-top: 50px;
}
#horizontal
{
    padding-left: 300px;
    padding-right: 500px;

}
#horizontal:hover
{
    background-color: blue;
    
}
.foot-r
{
    padding-top: 150px;
    padding-left: 150px;
}
#foot-lower-r
{
    padding-left: 150px;
    padding-top: 240px;
}